/* Sticky navbar */
.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 1030 !important;
  transition: background-color 0.3s ease-in-out !important;
}

/* Transparansi 100% */
.navbar.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Transparansi 50% */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.723) !important;
}

.bg-primary.bg-gradient {
  background: linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(0, 123, 255, 0.8) 100%);
}

.rounded-3 {
  border-radius: 0.75rem !important;
}

.feature {
  padding: 1rem;
  margin-bottom: 1.5rem;
  height: fit-content;
  width: fit-content;
}

.fitur {
  padding: 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  width: 70px;
}


.carousel-inner img {
  width: 100%;
  object-fit: cover;
  min-height: 300px;
  max-height: 300px;
}

.carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-inner .active {
  position: relative;
}

/* transisi */
/* Efek animasi awal */
.fade-in, .slide-in {
  opacity: 0;
  transform: translateY(20px); /* Efek geser sedikit ke bawah */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Ketika elemen terlihat di viewport */
.fade-in.visible, .slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}
